.accordion-item {
    border: none;
}

.accordion-header {
    width: 148px;
}

.accordion-body {
    text-align: left;
}

.accordion-button {
    height: 30px;
    background-color: transparent;
}

.ctgheader {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.ctghName {
    width: 80%;
    height: 35px;
    border-bottom: 1px solid #cdcdcd;
    cursor: pointer;
}

.ctghName:hover {
    color: #00bc70;
    border-color: #00bc70;
}

.ctgList {
    padding: 0;
    margin-top: 10px;
    width: 170px;
    height: 300px;
    list-style: none;
    text-align: left;
    font-size: 15px;
    color: #7d7d7d;
}

.ctgList li {
    height: 30px;
    cursor: pointer;
}