.bestWrap {
    margin: 0 auto;
    width: 1280px;
}

.bestWrap h2 {
    margin: 60px auto 30px;
    font-size: 38px;
    font-weight: 300;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 51px;
    line-height: 3;
    padding: 0;
    list-style: none;
}

.navMenu li {
    width: 100%;
    text-align: center;
    /* border: 1px solid #cdcdcd; */
}

.bestBtn {
    width: 100%;
    border: none;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    color: #666666;
}

.bestBtn:hover {
    border-color: #00bc70;
    color: #00bc70;
    font-weight: 600;
}

.bestBtn:active{
    border-color: #000000;
    font-weight: bold;
    color: #000000;
}

.tabBar {
    display: flex;
    justify-content: space-between;
}

.tabMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    width: 666px;
}

.tabMenu li {
    padding: 6px 20px;
    font-size: 14px;
    color: #999e9c;
    background-color: #f5f5f5;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tabMenu li:hover{
    border: 1px solid #00bc70;
    color: #00bc70;
    background-color: #ffffff;
}

.bestTime {
    color: #999e9c;
}

/* 제품 데이터 */
.wrapInner {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
}

.itemList{
    width: 240px;
}