.bestWrap {
    margin: 0 auto;
    width: 1280px;
}

.bestWrap h2 {
    margin: 60px auto 30px;
    font-size: 38px;
    font-weight: 300;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 51px;
    line-height: 3;
    padding: 0;
    list-style: none;
}

.navMenu li {
    width: 100%;
    text-align: center;
}

.bestBtn {
    width: 100%;
    border: none;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    color: #666666;
}

.bestBtn:hover {
    border-color: #00bc70;
    color: #00bc70;
    font-weight: 600;
}

.bestBtn:active{
    border-color: #000000;
    font-weight: bold;
    color: #000000;
}

.tabBar {
    display: flex;
    justify-content: space-between;
}

.tabMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    width: 666px;
}

.tabMenu li {
    padding: 6px 20px;
    font-size: 14px;
    color: #999e9c;
    background-color: #f5f5f5;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tabMenu li:hover{
    border: 1px solid #00bc70;
    color: #00bc70;
    background-color: #ffffff;
}

/* 제품 데이터 */
.wrapInner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    flex-wrap: wrap;
    width: 1280px;
}

.itemList{
    width: 240px;
}

.itemImg {
    position: relative;
}

.number {
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    line-height: 2;
}

.itemImg img {
    width: 240px;
    height: 320px;
    cursor: pointer;
}

.name {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

.priBox {
    position: relative;
    margin-top: 10px;
}

.pri1{
    font-size: 20px;
}

.sale {
    margin-left: 10px;
    font-size: 20px;
    color: #ff0000;
}

.pri2 {
    position: absolute;
    margin-left: 15px;
    font-size: 14px;
    line-height: 1.29em;
    text-decoration: line-through;
    color: #999;
    font-weight: 300;
    line-height: 2.1;
}

.free {
    padding: 0 5px;
    margin-top: 20px;
    height: 18px;
    color: #00bc70;
    background-color: #e0fbf0;
    font-size: 10px;
    font-weight: 400;
}

.starGrabe {
    margin-top: 15px;
}

.grabe {
    color: #999e9c;
    font-size: 12px;
}

/* 베스트 배너 */
.bestBanner {
    margin-top: 100px;
    width: 100%;
    height: 542px;
    background-color: #f5f5f5;
}