/* 
작성 날짜 : 2024-12-30
파일의 역할 : App css
*/

.carousel {
    position: relative;
    width: 1920px;
    margin: 0 auto;
}

.carousel-control-prev-icon {
    position: relative;
    top: 20px;
    left: 100px;
}

.carousel-control-next-icon {
    position: relative;
    top: 20px;
    left: -100px;
}

a,
link {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.header {
    display: block;
    box-sizing: border-box;
    width: 1280px;
    height: 100px;
    margin: 0 auto;
}

.language {
    display: flex;
    justify-content: right;
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
}

.langs {
    margin-left: 10px;
    font-size: 14px;
    color: #cdcdcd;
}

.clicked {
    font-weight: bold;
    color: #000000;
}

.h_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    height: 55px;
}

.h_top li {
    display: inline-block;
    margin: 0 10px 0 10px;
    list-style: none;
    font-size: 12px;
    color: #666666;
}

.h_top li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

.h_top a svg {
    width: 36px;
    height: 36px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.logo a {
    margin-top: 20px;
}

.logo {
    flex: none;
    height: 40px;
}

.serach {
    position: relative;
    display: flex;
    justify-content: right;
    width: 570px;
    height: 50px;
    left: 50px;
}

.serach button {
    position: absolute;
    padding-top: 10px;
    background-color: transparent;
    border: none;
}

.searchInput {
    flex: none;
    padding: 0 10px 0 10px;
    width: 570px;
    height: 50px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-280px);
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

.info {
    padding: 0;
}

.LoginIcon {
    margin: 0;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    box-sizing: border-box;
    text-align: center;
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    font-weight: bold;
}

.navList {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 430px;

}

.navList li {
    display: inline-block;
    list-style: none;
}

.category {
    position: absolute;
    z-index: 9999;
}

/* slick css */
.slider-box {
    width: 100%;
}

.slider-box .slick-prev:before,
.slider-box .slick-next:before {
    /* slick button에는 색상 투명과 투명도가 조정되어있기에
    추가해주어야함 */
    color: #00bc70;
    opacity: 1;
    font-size: 30px;
}

.slider-box .slick-prev:before {
    position: relative;
    left: -25px;
}

.slider-box>div {
    justify-content: center;
    width: 100%;
    height: 350px;
}

.contents {
    border-top: 1px solid #cdcdcd;
}