/* 
작성 날짜 : 2025-01-09
파일의 역할 : home css
*/

.main {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 580px;
}

/* 배너 */
.cntArea {
    justify-content: center;
    text-align: left;
    align-content: center;
    padding-top: 40px;
    margin: 0 auto;
    width: 1280px;
    height: 580px;
}

.card {
    display: flex;
    height: 20px;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: -0.01em;
}

.cardName1 {
    align-content: center;
    padding: 0 10px;
    font-weight: 600;
    background: #ffff82;
    color: #000000;
}

.cardName2 {
    align-content: center;
    padding: 0 10px;
    margin: 0 1px;
    font-weight: 400;
    background: #000000;
    color: #ffffff;
}

.name {
    height: 124px;
    margin: 20px 0 50px 0;
}

.areaName1 {
    font-size: 52px;
    font-weight: bold;
}

.areaName2 {
    font-size: 52px;
}

.price {
    display: flex;
    height: 30px;
}

.pri1 {
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.pri2 {
    font-weight: 300;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: line-through;
    color: #cdcdcd;
}

/* 출시 된 제품 */

.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1280px;
}

.newItem {
    display: grid;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}

.newText {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.line {
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 40px;
    border-bottom: 1px solid #000000;
}

.newInner {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.innerText {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.innerText1 {
    margin-right: 10px;
}

.innerText2 {
    color: #ff0000;
}

.newHash {
    display: flex;
    justify-content: center;
}

.hashText {
    padding: 0 15px 0 15px;
    margin: 0 5px 0 5px;
    color: #009d5e;
    border-radius: 20px;
    border: 1px solid #009d5e;
}

/* 출시 전 제품 */
.newItem2 {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    width: 1280px;
}

.item {
    margin: 0 40px 0 40px;
}

.item img {
    width: 600px;
    height: 396px;
}

.itemText {
    text-align: left;
    margin: 40px 40px 60px 40px;
}

.itemText1 {
    padding-bottom: 10px;
    font-size: 20px;
}

.itemText2 {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
}

/* 지금 잘나가는 제품 */
.nowBest {
    margin: 0 auto;
    width: 1280px;
    margin-bottom: 200px;
}

.bHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1280px;
}

.bhName {
    display: flex;
    margin-bottom: 30px;
}

.bhName1 {
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.bhtime {
    padding-top: 7px;
    color: #999999;
}

.more {
    display: flex;
    align-items: center;
}

.more p {
    margin-right: 10px;
    font-size: 14px;

}

.nowNav ul {
    padding-left: 0;
    padding-bottom: 30px;
    margin: 0;
}

.nowNav li {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    padding: 0 18px 0 18px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #000000;
    border-radius: 16px;
    list-style: none;
}

.suggest {
    margin: 0 auto;
    width: 1280px;
    margin-bottom: 300px;
}

/* suggestItem slick css */
.slick-next{
    background-color: #000000;
}

/* sns */
.sns{
    width: 1280px;
    margin: 0 auto;
}

.snsFont {
    text-align: center;
    margin-bottom: 30px;
}

.snsName {
    font-size: 40px;
}

.snsLink {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.snsImg {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.snsImg img {
    width: 300px;
    height: 300px;
}

/* Footer */
.footer {
    height: 458px;
    background-color: #00bc70;
    color: #ffffff;
}

.footerInner {
    display: grid;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
}

.fHeader {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 60px 0;
    width: 885px;
}

.bold {
    font-weight: bold;
}

.counsel {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.counsel p {
    padding-bottom: 10px;
}

.snsIcon {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 auto;
    width: 170px;
    height: 90px;
}

.info {
    text-align: center;
    font-size: 16px;
}