.nbContent {
    display: flex;
    width: 1280px;
}

.nowBest {
    display: flex;
    justify-content: space-between;
}

.nowBest img {
    width: 240px;
    height: 320px;
}

.nIText {
    width: 240px;
    height: 180px;
}

.nIText1 {
    display: flex;
    padding: 15px 0 15px 0;
    font-size: 14px;
}

.bold {
    padding-right: 5px;
    font-weight: bold;
}

.nIText2 {
    display: flex;
    width: 170px;
    justify-content: space-between;
}

.nIT1 {
    font-size: 20px;
    font-weight: bold;
}

.nIT2 {
    font-size: 20px;
    color: #ff0000;
}

.nIT3 {
    font-size: 13px;
    text-decoration: line-through;
    line-height: 30px;
    color: #bcbcbc;
}

.star {
    display: flex;
    margin-top: 15px;
    height: 25px;
    font-size: 12px;
    vertical-align: bottom;
}

.score {
    color: #999d9c;
    line-height: 23px;
}

.starIcon {
    padding-right: 7px;
}